{% extends "base.html" %}

{% block content %}

    {% if docs|length > 0 %}
        <div class="results">
            
            {% include "result-clusters.html" %}            

            <div class="resultOptions">
                    <div class="resultsBar">{% include "result-topbar.html" %}</div>
                    <div class="resultNavigation">{% include "result-navigation.html" %}</div>
                    
                </div>

            <div class="resultSet">
                {% include "result-doc.html" %}
                {% include "result-navigation.html" %}
            </div>
        </div>
    {% else %}
        <div class="noResults">Não foram encontrados documentos para sua consulta</div>
    {% endif %}

    {% include "footer.html" %}
{% endblock %}
