{% extends "base.html" %}

{% block extrahead %}
    <link rel="stylesheet" rev="stylesheet" href="{{ constant("STATIC_URL") }}css/print.css" type="text/static" media="print">  
    <script>window.print();</script> 
{% endblock %}

{% block content %}
    
    {% if docs|length > 0 %}
        <div class="results">
            <div class="resultSet">
                {% include "result-doc.html" %}
            </div>
        </div>
    {% else %}
        <div class="noResults">Não foram encontrados documentos para sua consulta</div>
    {% endif %}

    {% include "footer.html" %}
{% endblock %}