{% include "top-breadcrumb.html" %}

<div class="search">
    <form name="searchForm" id="searchForm" action="" method="GET">
        
        <div class="searchForm">
                <input type="hidden" name="lang" value="{{ lang }}">
                <input type="hidden" name="col" value="{{ col }}">
                <input type="hidden" name="site" value="{{ site }}">
                <input type="hidden" name="from" id="from" value="{{ from }}">
                <input type="hidden" name="count" id="count" value="{{ pag.count }}">
                <input type="hidden" name="page" id="page" value="{% if params.page is defined %}{{ params.page }}{% else %}1{% endif %}">
                <input type="hidden" name="fb" value="">

                <input type="hidden" name="open_cluster" value="">

                {% if params.filter is defined %}
                    {% for name, item in params.filter %}
                        <input type="hidden" name="filter[{{ name }}]" value="{{ item }}">
                    {% endfor %}
                {% endif %}

                <label for="search-input" class="hide"></label>

                <input type="text" name="q" id="q" value="{% if params.q is defined %}{{ params.q }}{% else %}{% endif %}" class="inputText defaultValue" onkeydown="if(event.keyCode==13) newSearch();">                

                <input type="submit" value="{{ texts.SEARCH_SUBMIT }}" class="submit">
        </div>
    </form>
</div>