<div class="search">
    <form name="searchForm" id="searchForm" action="" method="GET">
        
        <div class="searchForm">
                <input type="hidden" name="lang" value="{{ lang }}">
                <input type="hidden" name="col" value="{{ col }}">
                <input type="hidden" name="site" value="{{ site }}">
                <input type="hidden" name="fb" value="">

                <input type="hidden" name="open_cluster" value="">

                {% if params.filter is defined %}
                    {% for name, item in params.filter %}
                        <input type="hidden" name="filter[{{ name }}]" value="{{ item }}">
                    {% endfor %}
                {% endif %}

                <label for="search-input" class="hide"></label>

                <input type="text" id="search-input" class="inputText" name="q" onfocus="if(this.value=='{{ texts.SEARCH_WORDS }}') this.value = '';" onblur="if(this.value=='') this.value = '{{ texts.SEARCH_WORDS }}';" placeholder="{{ texts.SEARCH_WORDS }}" value="{{ texts.SEARCH_WORDS }}">                

                <input type="submit" value="{{ texts.SEARCH_SUBMIT }}" class="submit">
        </div>
    </form>
</div>