{% set cluster_labels = 'REFINE_' ~ filter %}

{% for item in filter_list %}
    {% if item.0 != '' %}
        {% set cluster_item_id = filter ~ '_' ~ item.0|slugify %}
        {% set loop_index = from + loop.index %}

        {% if filter in only_translated_items_clusters and not has_translation(item.0, cluster_labels) %}
        {% else %}
            <div class="boxCheck col-md-12 {% if '/' in item.0 %}subtopic{% endif %}">
                <div class="inputCheck1">
                    <input type="checkbox" name="filter[{{ filter }}][]" value='{{ item.0 }}' id="{{ cluster_item_id }}_{{ loop_index }}">
                </div>
                <label class="labelCheck1 labelCheck2" for="{{ cluster_item_id }}_{{ loop_index }}">
                    {% if '/' in item.0 %}
                        {% set item_part = item.0|split('/') %}
                        {{ translate(item_part.1, cluster_labels ) }}
                    {% elseif '^' in item.0 %}
                        {{ item.0|subfield(lang) }}
                    {% elseif '+' in item.0 %}
                        {{ item.0|replace({'+': '/'}) }}
                    {% else %}
                        {{ translate(item.0, cluster_labels ) }}
                    {% endif %}
                    ({{ item.1 }})
                </label>
            </div>
        {% endif %}
    {% endif %}
{% endfor %}
