{% if doc.ur is defined %}
    <div class="boxToolsMain">
        {% if doc.ur|length > 1 %}
            <a href="#fulltext_urls_{{ doc.id }}" class="btnTools btnToolsMain" data-toggle="collapse">
                <i class="far fa-file-alt"></i> {{ texts.FULLTEXT }}
            </a>

            <div id="fulltext_urls_{{ doc.id }}" class="linksBox collapse">
                <ul>
                {% for url in doc.ur %}
                    <li>
                        <a href="{{ url|raw }}" target="_blank" alt="{{ texts.FULLTEXT }} Link"
                        {% if config.google_analytics_tracking_id != '' %} onclick="gtag('event', 'Article' , {'event_category': 'Download', 'event_label': '{{ doc.ti.0 }}'}); gtag('event', 'Database' , {'event_category': 'Download', 'event_label': '{{ translate(doc.db.0|default(doc.db), 'REFINE_db') }}'}); {% if doc.ta.0 %}gtag('event', 'Journal' , {'event_category': 'Download', 'event_label': '{{ doc.ta.0 }}'}); gtag('event', 'Journal Source' , {'event_category': 'Download', 'event_label': '{{ doc.fo.0 }}'}); {% endif %}"{% endif %}>
                            {{ url }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% else %}
            <a href="{{ doc.ur.0|raw }}" target="_blank" title="{{ texts.FULLTEXT }}" class="btnTools btnToolsMain"
                {% if config.google_analytics_tracking_id != '' %} onclick="gtag('event', 'Article' , {'event_category': 'Download', 'event_label': '{{ doc.ti.0 }}'}); gtag('event', 'Database' , {'event_category': 'Download', 'event_label': '{{ translate(doc.db.0|default(doc.db), 'REFINE_db') }}'}); {% if doc.ta.0 %}gtag('event', 'Journal' , {'event_category': 'Download', 'event_label': '{{ doc.ta.0 }}'}); gtag('event', 'Journal Source' , {'event_category': 'Download', 'event_label': '{{ doc.fo.0 }}'}); {% endif %}"{% endif %}>
                <i class="far fa-file-alt"></i> {{ texts.FULLTEXT }}
            </a>
        {% endif %}
    </div>
{% else %}
    {% if config.show_search_google_button == 'true' %}
        <a href='https://www.google.com/search?q="{{doc.ti.0}}"' class="btnTools btnToolsMain nav-toggle" target="_blank">
            <i class="fab fa-google"></i> {{ texts.SEARCH_GOOGLE_BUTTON }}
        </a>
    {% endif %}
{% endif %}


{% if doc.ur_AUDIO is defined %}
    <div class="boxToolsMain">
        {% if doc.ur_AUDIO|length > 1 %}
            <a href="#audio_urls_{{ doc.id }}" class="btnTools btnToolsMain" data-toggle="collapse">
                <i class="far fa-volume-up"></i> {{ texts.AUDIO }}
            </a>

            <div id="audio_urls_{{ doc.id }}" class="linksBox collapse">
                <ul>
                {% for url in doc.ur_AUDIO %}
                    <li>
                        <a href="{{ url }}" target="_blank" alt="{{ texts.AUDIO }} Link"
                            {% if config.google_analytics_tracking_id != '' %} onclick="gtag('event', 'Audio' , {'event_category': 'Download', 'event_label': this.href});" {% endif %}>
                            {{ url }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% else %}
            <a href="{{ doc.ur_AUDIO.0 }}" target="_blank" title="{{ texts.AUDIO }}" class="btnTools btnToolsMain"
                {% if config.google_analytics_tracking_id != '' %} onclick="gtag('event', 'Audio' , {'event_category': 'Download', 'event_label': this.href});" {% endif %}>
                <i class="far fa-volume-up"></i> {{ texts.AUDIO }}
            </a>
        {% endif %}
    </div>
{% endif %}

{% if doc.ur_MULTIMIDIA is defined %}
    <div class="boxToolsMain">
        {% if doc.ur_MULTIMIDIA|length > 1 %}
            <a href="#video_urls_{{ doc.id }}" class="btnTools btnToolsMain" data-toggle="collapse">
                <i class="far fa-play-circle"></i> {{ texts.VIDEO }}
            </a>

            <div id="video_urls_{{ doc.id }}" class="linksBox collapse">
                <ul>
                {% for url in doc.ur_MULTIMIDIA %}
                    <li>
                        <a href="{{ url }}" target="_blank" alt="{{ texts.VIDEO }} Link"
                            {% if config.google_analytics_tracking_id != '' %} onclick="gtag('event', 'Multimedia' , {'event_category': 'Download', 'event_label': this.href});" {% endif %}>
                            {{ url }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% else %}
            <a href="{{ doc.ur_MULTIMIDIA.0 }}" target="_blank" class="btnTools btnToolsMain"
                {% if config.google_analytics_tracking_id != '' %} onclick="gtag('event', 'Multimedia' , {'event_category': 'Download', 'event_label': this.href});" {% endif %}>
                <i class="far fa-play-circle"></i> {{ texts.VIDEO }}
            </a>
        {% endif %}
    </div>
{% endif %}

{% if config.services_platform_domain != '' %}
    <!-- services platform -->
    <div class="platserv boxToolsMain">
	  {% if app.request.cookies.has('userTK') %}
          <a class="add-collection btnTools btnToolsMain" href="javascript:;" onclick="gtag('event', 'Add to collection' , {'event_category': 'My VHL', 'event_label': '{{doc.ti.0}}'});">
	  {% else %}
          <a class="add-collection btnTools btnToolsMain" href="javascript:;" onclick="gtag('event', 'Login' , {'event_category': 'My VHL', 'event_label': '{{doc.ti.0}}'});">
      {% endif %}
              <i class="fas fa-home"></i> {{ texts.ADD_TO_COLLECTION }}
          </a>
    </div>
{% endif %}


<div class="boxTools">
    <a href="javascript:window.print()" alt="{{ texts.PRINT }}" class="btnTools">
        <i class="fas fa-print"></i> {{texts.PRINT}}</a>
    </a>
</div>

<div class="boxTools">
    <a class="btnTools" href="javascript:export_xml_record('{{doc.id}}');" title="{{ texts.SHOW_XML }}">
        <i class="fas fa-code"></i> XML
    </a>
</div>


{% if 'MEDLINE' in doc.db %}
    <div class="boxTools">
        <a href="{{ constant("SEARCH_URL") }}pubmed_linkout/{{ lang }}/{{ doc.id }}" data-toggle="modal" data-target="#ModalPubmed" id="pubmed_linkout" title="{{ doc.ti.0 }}" class="btnTools">
            <i class="fas fa-external-link-square-alt"></i> PubMed Links
        </a>
    </div>

    <!-- Modal PubMed LinkOut -->
	<div class="modal fade" id="ModalPubmed" tabindex="-1" role="dialog" aria-labelledby="ModalPubmed" aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">PubMed Links</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
				</div>
			</div>
		</div>
	</div>
{% endif %}

{% if doc.ur is defined and config.show_search_google_button == 'true' %}
    <div class="boxTools">
        <a href='https://www.google.com/search?q="{{doc.ti.0}}"' class="btnTools" target="_blank">
            <i class="fab fa-google"></i> {{ texts.SEARCH_GOOGLE_BUTTON }}
        </a>
    </div>
{% endif %}

{% if doc.aid is defined and doc.aid != ''  %}
    <span class="__dimensions_badge_embed__" data-doi="{{doc.aid}}" data-hide-zero-citations="true" data-style="large_rectangle" {% if config.google_analytics_tracking_id != '' %} onclick="gtag('event', 'Dimensions' , {'event_category': 'Social', 'event_label': '{{doc.ti.0}}'});" {% endif %}></span><script async src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script><br/>
{% elseif 'MEDLINE' in doc.db  %}
    <span class="__dimensions_badge_embed__" data-pmid="{{doc.id|substring_after('-')}}" data-hide-zero-citations="true" data-style="large_rectangle" {% if config.google_analytics_tracking_id != '' %} onclick="gtag('event', 'Dimensions' , {'event_category': 'Social', 'event_label': '{{doc.ti.0}}'});" {% endif %}></span><script async src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script><br/>
{% endif %}

<div class="box2 box2B">
{% for name, cluster in clusters %}

    {% set cluster_labels = 'REFINE_' ~ name %}

    {###  check if config has a cluster list to show, if not show all ###}
    {% if not config_cluster_list or name in config_cluster_list %}

        {% set filter_label = attribute(texts.REFINE, name) %}
        {% if filter_label != '' and cluster|length > 0 %}
            <span class="atribArtigos"><b>{{ attribute(texts.REFINE, name) }}:</b>
            {% for item in cluster %}
                {% set cluster_item_id = name ~ '_' ~ item.0|slugify %}

                {% if '/' in item.0 %}
                    {% set item_part = item.0|split('/') %}
                    {{ translate(item_part.1, cluster_labels ) }}
                {% elseif '^' in item.0 %}
                    {{ item.0|subfield(lang) }}
                {% elseif '+' in item.0 %}
                    {{ item.0|replace('+','/') }}
                {% else %}
                    {{ translate(item.0, cluster_labels ) }}
                {% endif %}
                {% if not loop.last %} / {% endif %}
            {% endfor %}
            </span>
        {% endif %}
    {% endif %}
{% endfor %}
</div>
