{% autoescape false %}
{% for doc in docs %}
{% apply spaceless %}
{% if doc.type.0 == "article" %}
{{"TY  - JOUR"}}
{% elseif doc.type.0 == "book" %}
{{"TY  - BOOK"}}
{% else %}
{{"TY  - GEN"}}
{% endif %}
#BR#
{% for author in doc.au|default() %}
{{"AU  - " ~ author}}#BR#
{% endfor %}
{% for afiliacao_autor in doc.afiliacao_autor|default() %}
{{"AD  - " ~ afiliacao_autor}}#BR#
{% endfor %}
{{"TI  - " ~ doc.ti.0}}#BR#
{% for title in doc.ti %}
{% if not loop.first %}
{{"TT  - " ~ title}}#BR#
{% endif %}
{% endfor %}
{% if doc.ta is defined %}
{{"JO  - " ~  doc.ta.0}}#BR#
{% endif %}
{% if doc.vi is defined %}
{{"VL  - " ~ doc.vi.0}}#BR#
{% endif %}
{% if doc.ip is defined %}
{{"IS  - " ~ doc.ip.0}}#BR#
{% endif %}
{% if doc.is is defined %}
{{"SN  - " ~ doc.is.0}}#BR#
{% endif %}
{{"DB  - " ~ doc.db.0|default(doc.db)}}#BR#
{{"DP  - " ~ config.bvs_url}}#BR#
{{"ID  - " ~ doc.id}}#BR#
{{"C8  - " ~ doc.id}}#BR#
{{"LA  - " ~ doc.la[0]}}#BR#
{% if doc.pg.0 is defined  %}
{% if "-" in doc.pg.0 %}
{{"SP  - " ~ doc.pg.0|substring_before('-')|trim}}#BR#
{{"EP  - " ~ doc.pg.0|substring_after('-')|trim}}#BR#
{% else %}
{{"SP  - " ~ doc.pg.0}}#BR#
{{"EP  - " ~ doc.pg.0}}#BR#
{% endif %}
{% endif %}
{% if doc.da is defined %}
{{"DA  - " ~  doc.da|slice(0,4) ~ "/" ~ doc.da|slice(4,2) }}{% if doc.da|slice(6,2) %}/{{doc.da|slice(6,2)}}{% endif %}#BR#
{{"PY  - " ~  doc.da|slice(0,4)}}#BR#
{% endif %}
{% if doc.aid is defined %}
{{"DO  - " ~ doc.aid}}#BR#
{% endif %}
{% if doc.entry_date is defined %}
{{"C1  - " ~ doc.entry_date}}#BR#
{% endif %}
{% if doc.pmcid is defined %}
{{"C2  - " ~ doc.pmcid}}#BR#
{% endif %}
{% if doc.si is defined %}
{% for si in doc.si %}
{{"AN  - " ~ si}}#BR#
{% endfor %}
{% endif %}
{% for mesh in doc.mh|default() %}
{{"MH  - " ~  mesh}}#BR#
{% endfor %}
{% for keyword in doc.kw|default() %}
{{"KW  - " ~  keyword}}#BR#
{% endfor %}
{% if doc.accession_number is defined %}
{{"AN  - " ~  doc.accession_number.0}}#BR#
{% endif %}
{% for abstract in doc.ab|default() %}
{{"AB  - " ~ abstract}}#BR#
{% endfor %}
{% if doc.ur is defined %}
{% for url in doc.ur|default() %}
{{"UR  - " ~ url|raw}}#BR#
{% endfor %}
{% else %}
{{"UR  - " ~ constant("SEARCH_URL") ~ "resource/" ~ lang ~ "/"  ~ doc.id}}#BR#
{% endif %}
{{"ER  -" }}#BR#
#BR#
{% endapply %}
{% endfor %}
{% endautoescape  %}
