<!-- Rodapé -->
<footer id="footer" class="padding1">
	<div class="container">
		<hr><br>
		<div class="row">
			<div class="col-md-4">
				Powered by iAHx - {{ texts.BVS_TITLE }}
			</div>

            {% if config.feedback_id is defined and config.feedback_id != '' %}
            <div class="col-md-4 text-center">
                <a href="http://feedback.bireme.org/feedback/?application=iahx&version={% include("version.txt") %}&lang={{ lang }}&site={{ config.feedback_id }}" target="_blank">{{ texts.FEEDBACK_SERVICE }}</a>
            </div>
            {% endif %}

            {% if config.show_terms_and_policy is defined and config.show_terms_and_policy == 'true' %}
            <div class="col-md-4 text-right">
                <a href="http://politicas.bireme.org/terminos/{% if lang != 'fr' %}{{lang}}{% else %}en{% endif %}/" target="_blank">{{ texts.TERMS_CONDITIONS }}</a>
                |
                <a href="http://politicas.bireme.org/privacidad/{% if lang != 'fr' %}{{lang}}{% else %}en{% endif %}/" target="_blank">{{ texts.PRIVACY_POLICY }}</a>
            </div>
            {% endif %}
		</div>
	</div>
</footer>

<!-- seta up -->
<div id="to-top" class="to-top">
	<span class="float-left">
		<i class="fas fa-arrow-up"></i>
	</span>
</div>
