<html>
    <body>
        <table class="table table-striped">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Info</th>
                <th scope="col">Provider</th>
                <th scope="col">Link</th>
            </tr>

            {% for item in set %}
                <tr>
                    <td>{{ item.LinkName|default() }}</td>
                    <td>
                    {% for attr in item.Attribute %}
                       {{ attr }}
                    {% endfor %}
                    </td>

                    <td>{{ item.Provider.Name|default() }}</td>
                    <td>
                        <a href="{{ item.Url }}" target="blank">
                            {{ item.Url }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
    </body>
</html>
