{% for filter in config.filter %}
    <strong>{{ filter.label }}</strong>
    <ul>
    {% for item in filter.options %}
        {%  if item.value != ''  %}
            {% set filter_position = loop.parent.loop.index0 ~ '_' ~ loop.index0 %}
            <li>
                {% if filter_position in applied_filters %}
                    <i class="fas fa-check float-right"></i>
                {% endif %}

                <a href="javascript:add_view_filter('{{filter_position}}')">{{item.label}}</a>
            </li>
        {% endif %}
    {% endfor %}
    </ul>

{% endfor %}
