{% for wizard in config_wizard_list %}

<div class="modal fade" id="modal-wizard-{{wizard}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl modal-dialog-centered" role="document">
		<div class="modal-content">

			<div class="modal-header wizardModalTitle">
                <div id="wizardName">{{ texts.WIZARD.HIGHLIGHT }}</div>
                <h4 class="text-center">{{ texts.WIZARD.TITLE }}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color: #fff;">&times;</span>
                </button>
            </div>

            <div id="smartwizard" data-wizard="{{wizard}}" data-total="{{wizard.attributes.steps}}" class="hide">
                <ul class="nav">
                    {% for step in 1..wizard.attributes.steps %}
                        {% set step_number = step|number_format %}
                        {% set question_label = 'STEP_' ~ step_number %}
                        <li>
                            <a class="nav-link" href="#step-{{step}}">
                                <h6 class="text-center">{{ attribute(texts.WIZARD, question_label) }}</h6>
                                <p id="step-{{step}}-title">{{ attribute(wizard_session, step_number).label }}</p>
                            </a>
                        </li>
                {% endfor %}
                </ul>

                <div class="tab-content">
                    {% for step in 1..wizard.attributes.steps %}
                        <div id="step-{{step}}" class="tab-pane" role="tabpanel"></div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</div>

{% endfor %}
