{% extends custom_template("base.html") %}

{% block script %}{% endblock %}
{% block onload %}{% endblock %}

{% block extrahead %}
    <script language="javascript" type="text/javascript" src="{{ constant("STATIC_URL") }}js/advanced.js"></script>
{% endblock %}

{% block content %}
    <h2>{{ texts.ADVANCED_SEARCH }}</h2>

    <div class="advanced-form">
        <form name="advanced" id="advanced" onsubmit="return search();">    

            <div class="q-first">
                <input type="text" name="q[]" class="q" value="">
                <select name="index[]" class="inputText index" id="selectIndex">
                    {% for index in collectionData.index_list.index %}
                        {% if params.index is defined %}
                            {% if index.prefix == params.index %}
                                <option value="{{ index.prefix }}" selected="true">{{ attribute(texts.INDEXES, index.name) }}</option>
                            {% else %}
                                <option value="{{ index.prefix }}" >{{ attribute(texts.INDEXES, index.name) }}</option>
                            {% endif %}
                        {% else %}
                            <option value="{{ index.prefix }}" >{{ attribute(texts.INDEXES, index.name) }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="block-q">
                <div>
                    <select name="bool[]">
                        <option value="AND">AND</option>
                        <option value="OR">OR</option>
                        <option value="AND NOT">AND NOT</option>
                    </select>

                    <input type="text" name="q[]" class="q" onkeypress="new_line(this)"> 
                    
                    <select name="index[]" class="inputText index" id="selectIndex">
                        {% for index in collectionData.index_list.index %}
                            {% if params.index is defined %}
                                {% if index.prefix == params.index %}
                                    <option value="{{ index.prefix }}" selected="true">{{ attribute(texts.INDEXES, index.name) }}</option>
                                {% else %}
                                    <option value="{{ index.prefix }}" >{{ attribute(texts.INDEXES, index.name) }}</option>
                                {% endif %}
                            {% else %}
                                <option value="{{ index.prefix }}" >{{ attribute(texts.INDEXES, index.name) }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="more"></div>
            
            <div class="buttons">
                <button type="submit">Buscar</button>
            </div>
        </form>

        <form name="search_form" action="{{ constant("SEARCH_URL") }}">
            <input name="q" type="hidden" value="" />
        </form>
    </div>
    
{% endblock %}