<html>
    <head>
        <title>DeCS Locator</title>
        <link rel="stylesheet" rel="stylesheet" href="{{ constant("STATIC_URL") }}css/decs-locator.css" type="text/static" media="screen">  
        <script language="javascript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        <script language="javascript" type="text/javascript" src="{{ constant("STATIC_URL") }}js/jquery.autocomplete.js"></script>

        <script>
            // autocomplete
            var options, a;
            $(document).ready(function() {            
                options = {
                            'serviceUrl':'{{ constant("SEARCH_URL") }}lib/decs-autocomplete.php',
                            'minChars': 3,
                            'noCache': true,
                            //'onSelect': function(value, data){ alert('You selected:' + value + ',' + data) }
                            'onSelect': submit_tree_id
                          };
                a = $('#query').autocomplete(options);
            });            

            // css tree view
            $(document).ready(function () {
                $('ul.tree li:last-child').addClass('last');
            });            
            // submit autocomplete form
            function submit_tree_id(value, data){
                document.lookup.tree_id.value = data;
                document.lookup.submit();
            }

            // submit search form
            function make_search_query(){
                var query = "";
                var qlf_selected = $('input:checkbox:checked.qlf').map(function () {
                  return this.value;
                }).get();

                // if user select qualifiers make combination query 
                if (qlf_selected.length > 0){
                    $.each(qlf_selected, function(index, qlf){                    
                        query += '"{{ decs.tree.self.term_list.term }}/' + qlf + '"'; 
                        if (index < qlf_selected.length-1){
                            query += ' OR ';
                        }
                    });

                    query = '(' + query + ')';

                    document.search.q.value = query;
                }

                document.search.submit();
            }
        </script>        
    </head>
    <body>

        <form action="" name="lookup">
            <input type="hidden" name="tree_id" value=""/>
            <div>
                {{ texts.LOOKUP }}
            </div>
            <input type="text" name="q" id="query" class="text-input" autocomplete="off" />
        </form>

        <div id="hierarchy">
            <h2>{{ texts.HIERARCHY }}</h2>
            {% if decs.tree.term_list.term is defined %}  
                <ul class="tree">
                    {% for t_list in decs.tree.term_list %}
                        {% if t_list.attributes.lang == lang %}
                            {% for term in t_list %}
                                <li><a href="?tree_id={{ term.attributes.tree_id }}">{{ term }}</a></li>
                            {% endfor %}
                        {% endif %}    
                    {% endfor %}
                </ul>
            {% else %}

                <ul class="tree"> <!-- root -->
                    <li><a href="?tree_id=">{{ texts.LEVEL_0 }}</a></li>
                    {% if decs.tree.ancestors.term_list.term is defined %}
                        {% for term in decs.tree.ancestors.term_list.term %}                            
                            <ul>                             
                                <li><a href="?tree_id={{ term.attributes.tree_id }}">{{ term }}</a></li>
                        {% endfor %}
                    {% endif %}
                    <ul> <!-- preceding_sibling - self -->                        
                        {% if decs.tree.preceding_sibling.term_list.term is defined %}
                            <li><!-- preceding_sibling --></li>
                            {% for term in decs.tree.preceding_sibling.term_list.term %}
                                <li><a href="?tree_id={{ term.attributes.tree_id }}">{{ term }}</a></li>
                            {% endfor %}
                        {% endif %}

                        <li>{{ decs.tree.self.term_list.term }}</a></li>

                        <ul> <!-- descending -->
                            {% if decs.tree.descendants.term_list.term is defined %}
                                <li><!-- descendants --></li>
                                {% for term in decs.tree.descendants.term_list.term %}
                                    <li><a href="?tree_id={{ term.attributes.tree_id }}">{{ term }}</a></li>
                                {% endfor %}
                            {% endif %}
                        </ul> <!-- /descending -->
                        {% if decs.tree.following_sibling.term_list.term is defined %}
                            <li><!-- following_sibling --></li>
                            {% for term in decs.tree.following_sibling.term_list.term %}
                                <li><a href="?tree_id={{ term.attributes.tree_id }}">{{ term }}</a></li>
                            {% endfor %}
                        {% endif %}
                    </ul> <!-- /preceding_sibling - self -->     

                    <!-- close ancestors ul lists -->    
                    {% for term in decs.tree.ancestors.term_list.term %}
                        </ul> <!-- /ancestor -->
                    {% endfor %}
                </ul>
            {% endif %}
        </div>        
        <div id="details">            
            {% if decs.record_list.record is defined %}                
                <form action="{{ constant("SEARCH_URL") }}" target="parent" onsubmit="make_search_query()" name="search">                    
                    <input type="hidden" name="q" value='"{{ decs.tree.self.term_list.term }}"'/>
                    <input type="hidden" name="index" value="mh"/>

                    <h2>{{ decs.tree.self.term_list.term }}</h2>
                    <input type="submit" value="{{ texts.SEARCH_DOCUMENTS }}" class="btn-custom btn-large" />
                    <div class="spacer"/>

                    {% if decs.record_list.record.definition.occ.attributes.n != '' or decs.record_list.record.synonym_list.synonym != '' %}
                        <div class="definition">
                            {{ decs.record_list.record.definition.occ.attributes.n }}                        
                            {% if decs.record_list.record.synonym_list.synonym %}
                                <div class="syn">
                                    Sinônimos:
                                    <ul>
                                        {% for syn in decs.record_list.record.synonym_list.synonym %}
                                            <li>{{ syn }} </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if decs.record_list.record.allowable_qualifier_list.allowable_qualifier is defined %}
                        Restringir a pesquisa por estes aspectos:
                        <div class="qlf_box">
                            <ul>
                                {% for qlf in decs.record_list.record.allowable_qualifier_list.allowable_qualifier %}
                                    <li><input type="checkbox" name="qlf" class="qlf" value="{{ qlf }}" />{{  attribute(texts, qlf) }}</li>
                                {% endfor %}
                                <div class="spacer"></div>
                            </ul>
                        </div>
                    {% endif %}

                    

                </form>
            {% endif %}

        </div>

    </body>
</html>